.images {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
}

img{
    max-width: 60vw;
    max-height: 95vh;
    aspect-ratio: 1/1;
    position: absolute;
    margin: auto;
    top:0;
}

.bottomimage{
    z-index: 0;
}

.middleimage{
    z-index: 1;
}

.topimage {
    z-index: 2;
}